NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GESA_SOURCE_MODE=database
GESA_SOURCE_DB_HOST=
GESA_SOURCE_DB_PORT=
GESA_SOURCE_DB_NAME=
GESA_SOURCE_DB_USER=
GESA_SOURCE_DB_PASSWORD=
